<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 ">
                <h3 class="text-themecolor m-b-0 m-t-0">Personal Profile</h3><br>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <app-personal-profile-panel>
                    <app-name></app-name>
                    <app-address></app-address>
                    <app-personal-contact></app-personal-contact>
                    <app-employment></app-employment>
                </app-personal-profile-panel>
            </div>
        </div>
    </div>
</div>