<!-- <mat-card>
    <mat-card-title>
        <h3 igxCardHeaderTitle>Name Section</h3>
    </mat-card-title>

    <mat-card-content>
        <h2>Name</h2><br>
        <p>First Name: {{firstname}}</p>
        <p>Middle Name: {{middlename}}</p>
        <p>Last Name: {{lastname}}</p>
        <p>Email: {{email}}</p>
        <p>Gender: {{gender}}</p>
        <p>SSN: {{ssn}}</p>
        <p>Date of Birth: {{dob}}</p>
    </mat-card-content>
</mat-card> -->

<h2>Name</h2><br>
<p>First Name: {{firstname}}</p>
<p>Middle Name: {{middlename}}</p>
<p>Last Name: {{lastname}}</p>
<p>Email: {{email}}</p>
<p>Gender: {{gender}}</p>
<p>SSN: {{ssn}}</p>
<p>Date of Birth: {{dob}}</p>