<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 ">
                <h3 class="text-themecolor m-b-0 m-t-0">Manage Visa Status</h3><br>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">{{parentPath}}</a></li>
                    <li class="breadcrumb-item active">{{currentPath}}</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <div *ngIf="!visaAlert">No Alerts to display for {{employeeName}}</div>
                <div *ngIf="visaAlert">
                    <form (ngSubmit)="onSubmit()" #visaForm="ngForm" class="form-horizontal form-material">
                        <div class="form-group" *ngIf="!appOpen">{{visaMessage}} <button type="button" class="btn btn-info" (click)="startApplication()">Start Application</button></div>
                        <div *ngIf="appOpen && appStatus === 'open'">
                            <div class="form-group">
                                <label for="visaFile" class="col-md-12">{{visaMessage}}</label>
                                <input class="col-md-12" type="file" id="visaFile" name="visaFile" required (change)="setFile($event)">
                                <!-- need to figure out file upload but display seems to work -->
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 ">
                                    <button class="btn btn-success" type="submit" [disabled]="!visaForm.form.valid" class="btn btn-info">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="appStatus === 'pending'">Please wait for HR to approve your paperwork</div>
        </div>
    </div>
</div>