<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a routerLink="/home" routerLinkActive="active" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Logout</a>
                </li>
                <div>
                    <!--will seperate by role id later-->
                    <li>
                        <a routerLink="/home" routerLinkActive="active" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Home</a>
                    </li>
                    <li>
                        <a routerLink="/employee/personal" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Personal Profile</a>
                    </li>
                    <li>
                        <a routerLink="/employee/visa" routerLinkActive="active" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Visa Management</a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Housing</a>
                    </li>
                </div>
                <div>HR --Will be deleted later</div>
                <div>
                    <!--will seperate by role id later-->
                    <li>
                        <a routerLink="/home" routerLinkActive="active" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Home</a>
                    </li>
                    <li>
                        <a routerLink="/hr/profiles" routerLinkActive="active" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Employee Profiles</a>
                    </li>
                    <li>
                        <a routerLink="/hr/visa" routerLinkActive="active" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Visa Management</a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Hire</a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Housing</a>
                    </li>
                </div>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>