<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a routerLink="/home" routerLinkActive="active" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Home</a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Employee Profile</a>
                </li>
                <li>
                    <a routerLink="/employee/visa" routerLinkActive="active" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Visa Management</a>
                </li>
                <!-- Kiki: Onboarding and HR Review Application -->
                <li>
                    <a routerLink="/token" routerLinkActive="active" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Token Login</a>
                </li>
                <li>
                    <a routerLink="/hr/reviewapplication" routerLinkActive="active" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Hire</a>
                </li>
                <!-- End Here -->
                <li>
                    <a href="#" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Housing</a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>